.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  @include visually-hidden;
}

.hidden-mobail {
  @include mobail {
    display: none !important;
  }
}

.visible-mobail {
  @include mobail-above {
    display: none !important;
  }
}
